#responses{
    border: 1px solid black;
    height: 300px;
    overflow-y: scroll;
    margin-top:30px;
}

#responses{
    padding-top:10px;
}

.text-line{

}

.text-line .span{
    font-weight: bold;

}

.bot .span{
    color:red;
}